.mb-small {
  margin-bottom: 5rem;
}

.mb-medium {
  margin-bottom: 10rem;
}

.mb-big {
  margin-bottom: 15rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Open Sans", sans-serif;
  color: #00252e;
}

.section_header {
  display: flex;
  flex-direction: column;
  background-color: #ebfbff;
  padding: 3rem 1.5rem;
  background-image: url(../images/bg-hero-mobile.svg);
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
}
.section_header .navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section_header .hero {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
.section_header .hero_left {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.main {
  padding: 3rem 2rem;
  display: grid;
}

.footer {
  padding: 4rem 2rem;
  background-color: #00252e;
}
.footer .huddle {
  margin-top: -15rem;
  color: #fff;
}
.footer .huddle_info {
  margin-top: 2.5rem;
  display: flex;
  align-items: flex-start;
  gap: 2rem;
}
.footer .huddle_info .paragraph {
  line-height: 1.2;
  color: #fff;
}
.footer .huddle .menu {
  list-style: none;
}
.footer .huddle .menu li {
  padding: 0.6rem 0;
}
.footer .huddle .menu_link {
  text-decoration: none;
  color: inherit;
  font-size: 1.5rem;
}
.footer .huddle .social {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-bottom: 2rem;
}
.footer .huddle .social li {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #fff;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
}
.footer .huddle .social i {
  color: #fff;
  font-size: 2rem;
}
.footer .huddle .rights {
  text-align: center;
  width: 100%;
}

img {
  width: 90%;
  display: block;
}

.icon {
  width: 1.5rem;
  flex: 1 0 1.5rem;
}

.logo {
  width: 15rem;
}

.btn {
  padding: 0.8rem 3rem;
  display: block;
  border: none;
  border-radius: 100px;
  font-family: inherit;
  font-weight: 700;
  background-color: #fff;
  color: #00252e;
  box-shadow: 0 1rem 8rem rgba(0, 0, 0, 0.4);
}
.btn-pink {
  background-color: #ff52bf;
  color: #fff;
  padding: 1.2rem 4.5rem;
}

.card {
  padding: 3rem 0;
  display: grid;
  justify-items: center;
  border-radius: 1.5rem;
  box-shadow: 0 -2px 1rem 1rem rgba(0, 0, 0, 0.03);
  height: 50rem;
  text-align: center;
}
.card-footer {
  justify-items: center;
  align-items: center;
  height: 20rem;
  background-color: #fff;
  transform: translateY(-80%);
}
.card:not(:last-child) {
  margin-bottom: 5rem;
}
.card img {
  width: 25rem;
  margin-bottom: 2rem;
}
.card .paragraph {
  width: 80%;
}

.heading-1 {
  font-family: "Poppins", sans-serif;
  font-size: 2.5rem;
  font-weight: 600;
  width: 80%;
}

.heading-2 {
  font-family: "Poppins", sans-serif;
  font-size: 2.2rem;
}

.paragraph {
  color: #808d99;
  font-size: 1.6rem;
  width: 90%;
}

/*# sourceMappingURL=style.css.map */
