.mb-small {
  margin-bottom: 5rem;
}

.mb-medium {
  margin-bottom: 10rem;
}

.mb-big {
  margin-bottom: 15rem;
}

@media (min-width: 1200px) {
  .flex-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Open Sans", sans-serif;
  color: #00252e;
}

.section_header {
  display: flex;
  flex-direction: column;
  background-color: #ebfbff;
  padding: 3rem 1.5rem;
  background-image: url("../images/bg-hero-mobile.svg");
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
}
@media (min-width: 1200px) {
  .section_header {
    background-image: url("../images/bg-hero-desktop.svg");
    padding: 5rem 20rem;
  }
}
.section_header .navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section_header .hero {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 1200px) {
  .section_header .hero {
    flex-direction: row;
    text-align: left;
  }
}
.section_header .hero_left {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  gap: 2rem;
}
@media (min-width: 1200px) {
  .section_header .hero_left {
    text-align: left;
    align-items: flex-start;
  }
}

.main {
  padding: 3rem 2rem;
}
@media (min-width: 1200px) {
  .main {
    padding: 5rem 20rem;
  }
}

.footer {
  padding: 4rem 2rem;
  background-color: #00252e;
}
@media (min-width: 1200px) {
  .footer {
    padding: 5rem 20rem;
  }
  .footer .footer_items {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
  }
}
.footer .huddle {
  width: 33.33333333%;
  color: #fff;
}
.footer .huddle_info {
  margin-top: 2.5rem;
  display: flex;
  align-items: flex-start;
  gap: 2rem;
}
.footer .huddle_info .paragraph {
  line-height: 1.2;
  color: #fff;
}
.footer .menu {
  list-style: none;
}
@media (min-width: 1200px) {
  .footer .menu {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
  }
}
.footer .menu li {
  padding: 0.6rem 0;
}
.footer .menu_link {
  text-decoration: none;
  color: #fff;
  font-size: 1.5rem;
}
@media (min-width: 1200px) {
  .footer .menu_link {
    font-size: 2rem;
  }
}
.footer .social {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-bottom: 2rem;
}
.footer .social li {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #fff;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
}
.footer .social i {
  color: #fff;
  font-size: 2rem;
}
.footer .rights {
  text-align: center;
  width: 100%;
}

img {
  width: 90%;
  display: block;
}
@media (min-width: 1200px) {
  img {
    width: 50%;
  }
}

.icon {
  width: 1.5rem;
  flex: 1 0 1.5rem;
}

.logo {
  width: 15rem;
}

.btn {
  padding: 0.8rem 3rem;
  display: block;
  border: none;
  border-radius: 100px;
  font-family: inherit;
  font-weight: 700;
  background-color: #fff;
  color: #00252e;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
}
@media (min-width: 1200px) {
  .btn {
    padding: 1.8rem 5.5rem;
    font-size: 1.8rem;
  }
}
.btn-pink {
  background-color: #ff52bf;
  color: #fff;
  padding: 2rem 5.5rem;
}

.card {
  padding: 3.5rem 4rem;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  gap: 3rem;
  border-radius: 1.5rem;
  box-shadow: 0 -2px 1rem 1rem rgba(0, 0, 0, 0.03);
  height: 50rem;
  text-align: center;
}
@media (min-width: 1200px) {
  .card {
    flex-direction: row;
    height: 40rem;
    width: 80%;
    margin: 0 auto;
  }
  .card .img-1,
.card .img-3 {
    order: 2;
  }
}
.card-footer {
  justify-items: center;
  align-items: center;
  height: 20rem;
  background-color: #fff;
  transform: translateY(-80%);
}
@media (min-width: 1200px) {
  .card-footer {
    flex-direction: column;
    width: 40%;
  }
}
.card:not(:last-child) {
  margin-bottom: 5rem;
}
.card img {
  width: 25rem;
  margin-bottom: 2rem;
}
@media (min-width: 1200px) {
  .card img {
    width: 35rem;
  }
}
.card .paragraph {
  width: 80%;
}

.heading-1 {
  font-family: "Poppins", sans-serif;
  font-size: 2.5rem;
  font-weight: 600;
  width: 80%;
}
@media (min-width: 1200px) {
  .heading-1 {
    font-size: 4.5rem;
  }
}

.heading-2 {
  font-family: "Poppins", sans-serif;
  font-size: 2.2rem;
}

.paragraph {
  color: #808d99;
  font-size: 1.6rem;
  width: 90%;
}
@media (min-width: 1200px) {
  .paragraph {
    font-size: 2rem;
    margin-bottom: 2rem;
  }
}

/*# sourceMappingURL=style.css.map */
