//  COMPONENTS

img{
    width: 90%;
    display: block;
}


.btn{
    padding: .8rem 3rem;
    border: none;
    border-radius: 100px;
    font-family: inherit;
    font-weight: 700;
    background-color: #fff;
    color: $dark-cyan;
    box-shadow: 0 1rem 8rem rgba(0,0,0,.4);
    
    &-pink{
        background-color: $pink;
        color: #fff;
        padding: 1.2rem 4.5rem;
    }
}