//  COMPONENTS

img{
    width: 90%;
    display: block;

    @media(min-width: 1200px){
        width: 50%;
    }
}
.icon{
    width: 1.5rem;
    flex: 1 0 1.5rem;
    
}

.logo{
    width: 15rem;
    
}

.btn{
    padding: .8rem 3rem;
    display: block;
    border: none;
    border-radius: 100px;
    font-family: inherit;
    font-weight: 700;
    background-color: #fff;
    color: $dark-cyan;
    box-shadow: 0 1rem 2rem rgba(0,0,0,.15);
    
    @media(min-width: 1200px){
        padding: 1.8rem 5.5rem;
        font-size: 1.8rem;
    }

    &-pink{
        background-color: $pink;
        color: #fff;
        padding: 2rem 5.5rem;
    }
}

.card{
    padding: 3.5rem 4rem;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    gap: 3rem;
    border-radius: 1.5rem;
    box-shadow: 0 -2px 1rem 1rem rgba(0,0,0,.03);
    height: 50rem;
    text-align: center;
    
    @media(min-width: 1200px){
        flex-direction: row;
        height: 40rem;
        width: 80%;
        margin: 0 auto;

        .img-1,
        .img-3{
            order: 2;
        }
    }


    &-footer{
        
        justify-items: center;
        align-items: center;
        height: 20rem;
        background-color: #fff;
        width: 90%;
        transform:translateY(60%);
        margin: 0 auto;
        padding: 2rem;
          @media(min-width: 1200px){
            flex-direction: column;
            width: 40%;
            padding: 4rem;
        }
        
    }

    &:not(:last-child){
        margin-bottom: 5rem;
    }

    img{
        width: 25rem;
        margin-bottom: 2rem;

        @media(min-width: 1200px){
            width: 35rem;
        }
    }
    .paragraph{
        width: 80%;
    }
}